{{#if this.env.APP.TENANT}}
  <LinkTo @route={{@route}} @model={{@segment}}>
    {{yield}}
  </LinkTo>
{{else if (includes this.env.emoryTenants @tourSet.subdir)}}
  <a href={{concat  "/" @tourSet.subdir}}>
    {{@tourSet.name}}
  </a>
{{else}}
  <a href={{concat "//" @tourSet.subdir "." this.env.APP.HOST "/tours"}}>
    {{@tourSet.name}}
  </a>
  {{!-- <LinkTo @route={{@route}} @models={{array @tenant @segment}}>
    {{yield}}
  </LinkTo> --}}
{{/if}}