<table class="uk-table uk-table-divider otb-stop-list uk-margin-xlarge-bottom">
  <tbody {{did-insert this.showStops}}>
    {{#each @sortedTourStops as |tourStop|}}
      {{! template-lint-disable no-duplicate-attributes }}
      <tr
        class={{if tourStop.stop.show "uk-animation-slide-right" "uk-invisible"}}
        role="link"
        tabindex="0"
        role="link"
        tabindex="0"
        {{on "click" (fn this.gotToStop tourStop.stop.slug)}}
      >
        <td>
          <img src={{tourStop.stop.splashUrl}} alt="{{tourStop.stop.title}}: {{tourStop.stop.splash.caption}}">
        </td>
        <td class="uk-text-large">
          {{tourStop.stop.title}}
        </td>
        <td>
          <FaIcon @="chevron-right" />
        </td>
      </tr>
      {{! template-lint-enable no-duplicate-attributes }}
    {{/each}}
  </tbody>
</table>