<nav class="uk-navbar uk-light uk-background-secondary" uk-navbar>
  <div class="uk-navbar-left">
    <h1 class="uk-logo" style="margin: unset;">
      <img src="/assets/images/otblogo.png" alt="Branding logo">
      OpenTourBuilder
    </h1>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <a href="http://digitalscholarship.emory.edu/projects/software/open-tour.html" aria-label="About OpenTour">
          About
        </a>
      </li>
      <li>
        <a href="https://github.com/ecds/OpenTourBuilder/wiki/How-to-Use-OpenTour-v.-3.0" aria-label="OpenTour Documentation">
          Documentation
        </a>
      </li>
    </ul>
  </div>
</nav>

<section class="uk-container uk-margin-top">
  <ul class="uk-list">
    {{#each this.model as |tourSet|}}
      <li class="toursitename">
        <h2 style="line-height: 1.5; font-size: 16px;">
          {{!-- <a href="{{tourSet.subdir}}" aria-label="{{tourSet.name}}">
            {{tourSet.name}}
          </a> --}}
          <LinkTo @route={{'tours'}} @model={{tourSet.subdir}}>
            {{tourSet.name}}
          </LinkTo>
        </h2>
      </li>
      <ul>
        {{#each tourSet.publishedTours as |tour|}}
          <li class="tourname">
            <LinkTo @route='tour' @models={{array tourSet.subdir tour.slug}}>
              {{tour.title}}
            </LinkTo>
          </li>
        {{/each}}
      </ul>
    {{/each}}
  </ul>
</section>