<div id="map-container">
  <GMap
    @mapTypeId={{@tour.mapType}}
    @disableDefaultUI={{true}}
    @zoom={{this.zoomLevel}}
    @lat={{@tour.bounds.centerLat}}
    @lng={{@tour.bounds.centerLng}}
    @onLoad={{this.fitBounds}}
  as |map|>
    {{#if @tour.mapOverlay.originalImageUrl}}
      <map.imageOverlay
        @south={{@tour.mapOverlay.south}}
        @west={{@tour.mapOverlay.west}}
        @north={{@tour.mapOverlay.north}}
        @east={{@tour.mapOverlay.east}}
        @image={{@tour.mapOverlay.originalImageUrl}}
      >
      </map.imageOverlay>
    {{/if}}

    {{#each @tour.tourStops as |tourStop|}}
    {{#if (and tourStop.stop.lat tourStop.stop.lng)}}
      <map.marker
        @onDragend={{this.reLocate}}
        @lat={{tourStop.stop.lat}}
        @lng={{tourStop.stop.lng}}
        @label={{hash text=(concat tourStop.position) color="white" className=(if tourStop.stop.active "otb-marker-label-active" "otb-marker-label")}}
        @icon={{tourStop.stop.icon}}
        @onClick={{fn this.markerClicked tourStop}}
        as |marker|>

        <marker.infoWindow
          @isOpen={{tourStop.stop.showOverviewInfoWindow}}>
          <div>
            <h3>
              {{tourStop.stop.title}}
            </h3>
            <p>
              <LinkTo @route="tour.stop" @model={{tourStop.stop.slug}}>Go To Stop</LinkTo>
            </p>
          </div>
        </marker.infoWindow>
      </map.marker>
    {{/if}}
    {{/each}}
  </GMap>
</div>