{{#if this.deviceContext.isDesktop}}
  {{!-- DESKTOP --}}
  <nav class="uk-navbar uk-light uk-background-secondary uk-margin uk-position-fixed otb-desktop-navbar" uk-navbar>
    <div class="uk-navbar-left">
      <a href={{concat "/" this.this.model.tenant}} class="uk-padding-small uk-padding-remove-vertical">
        <img src={{if this.tenant.tenantModel.logoUrl this.tenant.tenantModel.logoUrl "/assets/images/otblogo.png"}} alt="Branding">
      </a>

      <DesktopNav @tour={{this.model}} @navigateTo={{this.setActiveStop}} />

    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        {{#each this.model.sortedFlatPages as |page|}}
          <li>
            <a uk-toggle target={{concat "#flat-page-" page.id}}>
              {{page.flatPage.title}}
            </a>
            <div uk-offcanvas flip="true" id={{concat "flat-page-" page.id}} container=".otb-desktop-main">
              <div class="uk-offcanvas-bar otb-desktop-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <h3>{{page.flatPage.title}}</h3>
                {{page.flatPage.safeContent}}
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </nav>
  <div class="uk-grid-collapse uk-child-width-1-2 uk-position-absolute otb-desktop-main {{if this.showStopGrid "showing-stop-grid"}}" uk-grid>
    <TourDesktopList @tour={{this.model}} @tourStops={{this.model.sortedTourStops}} @setActiveStop={{this.setActiveStop}} />
    <div class="uk-position-fixed otb-desktop-map">
      <OverviewMap @tour={{this.model}} @setActiveStop={{this.setActiveStop}}></OverviewMap>
    </div>
  </div>
{{else if this.deviceContext.isMobile}}
  {{!-- MOBILE --}}
  <nav class="uk-navbar uk-navbar-container otb-mobile-top-navbar" data-theme={{this.theme.name}}>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li>
          <a uk-toggle target="#flat-pages" class="uk-navbar-toggle" data-theme={{this.theme.name}}>
            <FaIcon @icon="bars" />
          </a>
        </li>
        <li>
          <LinkTo @route="tour" @model={{this.model}} class="uk-logo" data-theme={{this.theme.name}}>{{this.model.title}}</LinkTo>
        </li>
      </ul>
    </div>
  </nav>

  {{outlet}}

  {{!-- Offcanvas menu --}}
  <MobileMenu @isOpen={{this.menuOpen}} @onOpen={{toggle "menuOpen" this}}>
    <div class="uk-offcanvas-bar">
      <button class="uk-offcanvas-close" type="button" uk-close></button>
      <ul class="uk-nav uk-nav-default">
        <li>
          <a href={{concat "/" this.model.tenant}} class="otb-menu-link">All Tours</a>
        </li>
        <li>
          <LinkTo @route="tour" @model={{this.model}} class="otb-menu-link">Tour Home</LinkTo>
        </li>
        {{#each this.model.sortedFlatPages as |page|}}
          <li>
            <LinkTo @route="tour.flat-page" @model={{page.flatPage.id}} class="otb-menu-link">
              {{page.flatPage.title}}
            </LinkTo>
          </li>
        {{/each}}
        <li class="uk-nav-divider"></li>
        {{#if (or this.tenant.tenantModel.cookiesAcknowledged this.menuOpen)}}
          <li class="uk-nav-header">Location Controls</li>
          <LocationSettings @tour={{this.model}} />
        {{/if}}
        {{!-- <li>
          TODO: Write something about location settings.
          About Location Settings
        </li> --}}
      </ul>
    </div>
  </MobileMenu>
  {{#unless this.tenant.tenantModel.cookiesAcknowledged}}
    <DirectionsError @onClose={{toggle "tenant.tenantModel.cookiesAcknowledged" this}}>
      <div class="uk-modal-dialog">
        <div class="uk-modal-body"  uk-overflow-auto>
          <p>
            With your permission, this site uses cookies to give you directions from your current location and to save your preferred mode of travel.
          </p>
          <p>
            You can set your preferences here. You will always be able to update your preferences by tapping the <FaIcon @icon="bars" /> icon at the top left of your screen.
          </p>
          <p>
            By allowing cookies you agree to Emory Center for Digital Scholarship"s <a href="http://digitalscholarship.emory.edu/about/center/privacy-policy.html" target="_blank" rel="noopener noreferrer">Terms of Service and Privacy Policy</a>
          </p>
          <LocationSettings @tour={{this.model}} />
        </div>
        <div class="uk-modal-footer uk-text-right">
          <UkButton @color="primary" class="uk-modal-close">OK</UkButton>
        </div>
      </div>
    </DirectionsError>
  {{/unless}}
{{else}}
  <section class="uk-inline otb-tour-cell-overlay">
    <TourSplashBackground @tour={{this.model}} @full="true">
      <div class="uk-overlay uk-overlay-primary uk-dark uk-text-center uk-padding-remove otb-mobile-full-viewport">
        <section class="uk-position-center">
          <h3 class="uk-heading">Loading...</h3>
          <h1 class="uk-heading">{{this.model.title}}</h1>
        </section>
      </div>
    </TourSplashBackground>
  </section>
{{/if}}