{{#if this.activeStop}}
  {{page-title this.activeStop.title}}
{{else}}
  {{page-title this.model.title}}
{{/if}}

{{#if this.deviceContext.isDesktop}}
  {{!-- DESKTOP --}}
  <nav class="uk-navbar uk-light uk-background-secondary uk-margin uk-position-fixed otb-desktop-navbar" uk-navbar>
    <div class="uk-navbar-left">

      <a href={{this.tenant.tenantLink}} class="uk-padding-small uk-padding-remove-vertical">
        <img src={{if this.tenant.tenantModel.logoUrl this.tenant.tenantModel.logoUrl "/assets/images/otblogo.png"}} alt="Branding">
      </a>

      <DesktopNav @tour={{this.model}} @navigateTo={{this.setActiveStop}} />

    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        {{#if this.model.linkAddress}}
          <li>
            <a href={{this.model.linkAddress}} targe="_blank">
              {{if this.model.linkText this.model.linkText this.model.linkAddress}}&nbsp; <FaIcon @icon="external-link-alt" @prefix="fas" />
            </a>
          </li>
        {{/if}}
        {{#each this.model.sortedFlatPages as |page|}}
          <li>
            <a href="#" uk-toggle target={{concat "#flat-page-" page.flatPage.id}}>
              {{page.flatPage.title}}
            </a>
            <div uk-offcanvas flip="true" id={{concat "flat-page-" page.flatPage.id}} container=".otb-desktop-main">
              <div class="uk-offcanvas-bar otb-desktop-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <h3>{{page.flatPage.title}}</h3>
                {{page.flatPage.safeContent}}
              </div>
            </div>
          </li>
        {{/each}}
        <li>
          <a href="#" uk-toggle target="#about-open-tour">About OpenTour</a>
          <div uk-offcanvas flip="true" id="about-open-tour" container=".otb-desktop-main">
            <article class="uk-offcanvas-bar otb-desktop-offcanvas-bar">
              <button class="uk-offcanvas-close" type="button" uk-close></button>
              <h3>About OpenTour</h3>
              <p>
                OpenTour Builder is an open source software platform for building geospatial tours that are optimized for mobile devices. OpenTour Builder continues to be developed by the <a href="https://digitalscholarship.emory.edu/index.html">Emory Center for Digital Scholarship</a>, who began development of the web app in 2014 in its first iteration. The current version of OpenTour Builder, v. 3.0, was launched in March of 2019, and continues to be improved.
              </p>
              <p>
                With this tool, tour builders can easily create interactive, attractive tours that guide users from stop to stop using their smartphone's GPS and OpenTour Builder's native Google Maps instructions. At each location, the designer can include images, video, text, and external links to provide historical and cultural context, tying that information to the physical space.
              </p>
              <p>
                An Emory-supported instance of <a href="https://opentour.site/">OpenTour</a> is now available for those who intend to use the technology for educational purposes or the exhibition of research. Tours need to fit within the ECDS and Emory mission. The Emory Center for Digital Scholarship supports partnerships, both with Emory community members and with outside interested parties. If you are interested in a partnership to use OpenTour, please contact us at ecds@emory.edu. You can find more information on the <a href="https://digitalscholarship.emory.edu/expertise/projects/open-tour-builder.html">ECDS OpenTour Page</a>.
              </p>
              <section class="uk-padding">
                <img src="/assets/images/emory-center-for-digital-scholarship-logo-rev.svg" role="presentation" alt="">
              </section>
            </article>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="uk-grid-collapse uk-child-width-1-2 uk-position-absolute otb-desktop-main {{if this.showStopGrid "showing-stop-grid"}}" uk-grid>
    <TourDesktopList @tour={{this.model}} @tourStops={{this.model.sortedTourStops}} @setActiveStop={{this.setActiveStop}} />
    <div class="uk-position-fixed otb-desktop-map">
      <OverviewMap @tour={{this.model}} @setActiveStop={{this.setActiveStop}}></OverviewMap>
    </div>
  </div>
{{else if this.deviceContext.isMobile}}
  {{!-- MOBILE --}}
  <nav class="uk-navbar uk-navbar-container otb-mobile-top-navbar" data-theme={{this.theme.name}}>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li>
          <a href="#" uk-toggle target="#flat-pages" class="uk-navbar-toggle otb-mobile-menu-button" data-theme={{this.theme.name}}>
            <FaIcon @icon="bars" />
          </a>
        </li>
        <li>
          <LinkTo @route="tour" @model={{this.model}} class="uk-logo" data-theme={{this.theme.name}}>{{this.model.title}}</LinkTo>
        </li>
      </ul>
    </div>
  </nav>

  {{outlet}}

  {{!-- Offcanvas menu --}}
  <MobileMenu @isOpen={{this.menuOpen}} @onOpen={{toggle "menuOpen" this}}>
    <div class="uk-offcanvas-bar">
      <button class="uk-offcanvas-close" type="button" uk-close></button>
      <ul class="uk-nav uk-nav-default">
        <li>
          <a href={{this.tenant.tenantLink}} class="otb-menu-link">All Tours</a>
        </li>
        <li>
          <LinkTo @route="tour" @model={{this.model}} class="otb-menu-link">Tour Home</LinkTo>
        </li>
        {{#if this.model.linkAddress}}
          <li>
            <a href={{this.model.linkAddress}} targe="_blank">
              {{if this.model.linkText this.model.linkText this.model.linkAddress}}&nbsp;<FaIcon @icon="external-link-alt" @prefix="fas" />
            </a>
          </li>
        {{/if}}
        {{#each this.model.sortedFlatPages as |page|}}
          <li>
            <LinkTo @route="tour.flat-page" @model={{page.flatPage.id}} class="otb-menu-link">
              {{page.flatPage.title}}
            </LinkTo>
          </li>
        {{/each}}
        <li class="uk-nav-divider"></li>
        {{#if (or this.tenant.tenantModel.cookiesAcknowledged this.menuOpen)}}
          <li class="uk-nav-header">Location Controls</li>
          <LocationSettings @tour={{this.model}} />
        {{/if}}
        {{!-- <li>
          TODO: Write something about location settings.
          About Location Settings
        </li> --}}
      </ul>
    </div>
  </MobileMenu>
  {{#unless this.tenant.tenantModel.cookiesAcknowledged}}
    <DirectionsError @onClose={{toggle "tenant.tenantModel.cookiesAcknowledged" this}}>
      <div class="uk-modal-dialog">
        <div class="uk-modal-body"  uk-overflow-auto>
          <p>
            With your permission, this site uses cookies to give you directions from your current location and to save your preferred mode of travel.
          </p>
          <p>
            You can set your preferences here. You will always be able to update your preferences by tapping the <FaIcon @icon="bars" /> icon at the top left of your screen.
          </p>
          <p>
            By allowing cookies you agree to Emory Center for Digital Scholarship"s <a href="http://digitalscholarship.emory.edu/about/center/privacy-policy.html" target="_blank" rel="noopener noreferrer">Terms of Service and Privacy Policy</a>
          </p>
          <LocationSettings @tour={{this.model}} />
        </div>
        <div class="uk-modal-footer uk-text-right">
          <UkButton @color="primary" class="uk-modal-close">OK</UkButton>
        </div>
      </div>
    </DirectionsError>
  {{/unless}}
{{else}}
  <section class="uk-inline otb-tour-cell-overlay">
    <TourSplashBackground @tour={{this.model}} @full="true">
      <div class="uk-overlay uk-overlay-primary uk-dark uk-text-center uk-padding-remove otb-mobile-full-viewport">
        <section class="uk-position-center">
          <h3 class="uk-heading">Loading...</h3>
          <h1 class="uk-heading">{{this.model.title}}</h1>
        </section>
      </div>
    </TourSplashBackground>
  </section>
{{/if}}