<li class="uk-margin-small-bottom loc-on" role="button" {{on "click" (toggle 'cookiesAllowed' @tour)}}>
  <span class="uk-text-middle uk-margin-right">Cookies {{if @tour.cookiesAllowed "ALLOWED" "BLOCKED"}}</span> <FaIcon @icon={{concat "toggle-" (if @tour.cookiesAllowed "on" "off")}} class="uk-text-middle" />
</li>
<li class="uk-margin-small-bottom loc-on" role="button" {{on "click" (toggle 'locationAllowed' @tour)}}>
  <span class="uk-text-middle uk-margin-right">Current Location {{if @tour.locationAllowed "ON" "OFF"}}</span> <FaIcon @icon={{concat "toggle-" (if @tour.locationAllowed "on" "off")}} class="uk-text-middle" />
</li>
<li class="uk-margin-small-bottom loc-on" role="button" {{on "click" (toggle 'updateLocationAllowed' @tour)}}>
  <span class="uk-text-middle uk-margin-right">Update Location {{if @tour.updateLocationAllowed "ON" "OFF"}}</span> <FaIcon @icon={{concat "toggle-" (if @tour.updateLocationAllowed "on" "off")}} class="uk-text-middle" />
</li>

{{#if (and @tour.useDirections @tour.locationAllowed)}}
  <li class="uk-parent">
    <div class="uk-margin">
      <div class="uk-form-label">Preferred Travel Mode:</div>
      <div class="uk-form-controls uk-child-width-1-1 uk-grid-small uk-margin-small" uk-grid>
        <ModeControl @tour={{@tour}}></ModeControl>
      </div>
    </div>
  </li>
{{/if}}