<section {{did-insert this.checkPermissions}}>
  {{#unless this.locationPermissions.locationAllowed}}
    <div id="set-loc-perms-modal" class="uk-modal">
      <section class="uk-modal-dialog otb-mobile-modal">
        <form>
          <section class="uk-modal-body">
            <p>
              To provide directions, this tour needs to use your location.
            </p>
            <footer class="uk-modal-footer uk-text-right">
              <UkButton @size="small" class="uk-modal-close" id="decline-loc" {{on "click" this.declineLocation}}>Decline</UkButton>
              <UkButton @size="small" @color="primary" class="uk-modal-close" id="allow-loc" {{on "click" this.allowLocation}}>Allow</UkButton>
            </footer>
          </section>
        </form>
      </section>
    </div>
  {{/unless}}
  {{#unless this.locationPermissions.updateLocationAllowed}}
    <div id="set-update-loc-perms-modal" class="uk-modal otb-mobile-modal">
      <section class="uk-modal-dialog">
        <form>
          <section class="uk-modal-body">
            <p>
              Do you want your location and directions to update as you travel to the stop?
            </p>
            <footer class="uk-modal-footer uk-text-right">
              <UkButton @size="small" class="uk-modal-close" id="decline-loc-update" {{on "click" this.declineUpdateLocation}}>Decline</UkButton>
              <UkButton @size="small" @color="primary" class="uk-modal-close" id="allow-loc-update" autofocus {{on "click" this.allowUpdateLocation}}>Allow</UkButton>
            </footer>
          </section>
        </form>
      </section>
    </div>
  {{/unless}}
</section>