<section class="uk-position-relative uk-visible-toggle" id={{concat "otb-gallery-" @sortedMedia.firstObject.stop.slug @sortedMedia.firstObject.stop.id}} tabindex="-1" uk-slideshow>
  <ul class="uk-slideshow-items uk-margin-top">
    {{#each @sortedMedia as |sortedMedium|}}
      <li class="uk-text-center" uk-toggle target={{concat "#modal-" sortedMedium.position sortedMedium.medium.id}}  role="button" {{on "click" (fn this.showEmbed sortedMedium)}}>
        {{sortedMedium.medium.imageTag}}
        {{#if sortedMedium.medium.video}}
          <div id={{concat "play-button-" sortedMedium.id}} class="uk-position-center uk-panel otb-common-playbutton-overlay">
            <FaIcon @icon="play" />
          </div>
        {{/if}}
      </li>
    {{/each}}
  </ul>

  <a class="uk-position-center-left uk-position-small uk-slidenav-large uk-dark" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-slidenav-large uk-dark" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
  <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>

</section>

{{#each @sortedMedia as |sortedMedium|}}
  <div
    role="dialog"
    id={{concat "modal-" sortedMedium.position sortedMedium.medium.id}}
    class="uk-flex-top {{this.deviceContext.deviceContextClass}}"
    {{did-insert this.initModal sortedMedium}}
    {{on "hidden" (toggle 'loadEmbed' sortedMedium)}}
    {{on "beforeshow" (toggle 'loadEmbed' sortedMedium)}}
  >
    <section class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical uk-text-center">
      <button class="uk-modal-close-outside" type="button" uk-close></button>
      {{#if sortedMedium.medium.loadEmbed}}
        <iframe class={{sortedMedium.medium.provider}} frameborder="0" width="1280" height="720" title={{sortedMedium.medium.title}} src={{sortedMedium.medium.embed}} uk-video uk-responsive></iframe>
        <h3 class="uk-card-title uk-margin-remove-top">{{sortedMedium.medium.title}}</h3>
        {{#if sortedMedium.medium.caption}}
          <p class="uk-padding-remove-vertical uk-padding-small">
            {{sortedMedium.medium.caption}}
          </p>
        {{/if}}
      {{else}}
        <div class="uk-card uk-card-default">
          <figure class="uk-card-media-top uk-text-center uk-margin-top">
            {{sortedMedium.medium.imageTag}}
            <figcaption class="uk-card-body uk-padding-remove-top">
              {{#if this.deviceContext.isMobile}}
                <p class="uk-text-small uk-text-center">PINCH TO ZOOM IMAGE</p>
              {{/if}}
              <h3 class="uk-card-title uk-margin-remove-top">{{sortedMedium.medium.title}}</h3>
              <p>{{sortedMedium.medium.caption}}</p>
              {{#if this.deviceContext.isDesktop}}
                <p>
                  <a href={{sortedMedium.medium.originalImageUrl}} rel="noopener noreferrer" target="_blank">See larger version</a>
                </p>
              {{/if}}
            </figcaption>
          </figure>
        </div>
      {{/if}}
    </section>
  </div>
{{/each}}