{{#if (has-block)}}
  {{#if this.env.APP.TENANT}}
    <LinkTo @route={{@route}} @model={{@segment}}>
      {{yield}}
    </LinkTo>
  {{else if this.tenant.isSubDomain}}
    <LinkTo @route={{@route}} @model={{@segment}}>
      {{yield}}
    </LinkTo>
  {{else}}
    <a href={{concat "/" this.tenant.tenantPath "/" @segment}}>
      {{yield}}
    </a>
    {{!-- <LinkTo @route={{@route}} @models={{array @tenant @segment}}>
      {{yield}}
    </LinkTo> --}}
  {{/if}}
{{else}}
  {{#if (includes env.emoryTenants @tenant)}}
    <a href={{concat "/" @tenant "/" @tour.slug}}>
      {{@tour.title}}
    </a>
  {{else}}
    <a href={{concat "//" @tenant "." env.APP.HOST "/" @tour.slug}}>
      {{@tour.title}}
    </a>
  {{/if}}
{{/if}}