{{#if (has-block)}}
  {{#if this.env.APP.TENANT}}
    <LinkTo @route={{@route}} @model={{@segment}}>
      {{yield}}
    </LinkTo>
  {{else if this.tenant.isSubDomain}}
    {{!-- <LinkTo @route={{@route}} @model={{@segment}}>
      {{yield}}
    </LinkTo> --}}
    {{!-- When using the LinkTo component, the path
    on the Cookie service does not get updated :( --}}
    <a href={{concat "//" @tenant "." this.env.APP.HOST "/" @segment}}>
      {{yield}}
    </a>

  {{else}}
    <a href={{concat "/" this.tenant.tenantPath "/" @segment}}>
      {{yield}}
    </a>
    {{!-- <LinkTo @route={{@route}} @models={{array @tenant @segment}}>
      {{yield}}
    </LinkTo> --}}
  {{/if}}
{{else}}
  {{#if (includes this.env.emoryTenants @tenant)}}
    <a href={{concat "/" @tenant "/" @tour.slug}}>
      {{@tour.title}}
    </a>
  {{else}}
    <a href={{concat "//" @tenant "." this.env.APP.HOST "/" @tour.slug}}>
      {{@tour.title}}
    </a>
  {{/if}}
{{/if}}