  {{#unless this.fastboot.isFastBoot}}
  {{#if @tour.redrawingMap}}
  loading map
  {{else}}
  <GMap
    @mapTypeId={{@tour.mapType}}
    @disableDefaultUI={{true}}
    @zoom={{16}}
    @lat={{@stop.lat}}
    @lng={{@stop.lng}}
    @onceOnIdle={{this.mapLoaded}}
  as |map|>
    {{#if @tour.mapOverlay.originalImageUrl}}
      <map.imageOverlay
        @south={{@tour.mapOverlay.south}}
        @west={{@tour.mapOverlay.west}}
        @north={{@tour.mapOverlay.north}}
        @east={{@tour.mapOverlay.east}}
        @image={{@tour.mapOverlay.originalImageUrl}}
      >
      </map.imageOverlay>
    {{/if}}
    {{#if (and @tour.locationAllowed @tour.useDirections)}}
      {{#if this.location.clientLocation}}
        <map.directions
          @origin={{this.location.clientLocation}}
          @destination={{this.destination}}
          @travelMode={{@tour.currentMode.title}}
          @onDirectionsChanged={{this.setDirections}}
          as |directions|
        >
          {{#if (and (eq @tour.currentMode.title "DRIVING") @stop.hasParking)}}
            <directions.waypoint @location={{hash lat=@stop.parkingLat lng=@stop.parkingLng}} />
          {{/if}}

          <directions.route as |route|>
          </directions.route>

        </map.directions>
      {{/if}}
    {{else}}
      <map.marker
        @lat={{@stop.lat}}
        @lng={{@stop.lng}}
        @icon={{@stop.icon}}
        @label={{hash text=(concat @position) color="white" className="otb-marker-label"}}
        @onClick={{toggle "showInfoWindow" @stop}}
        as |marker|>

          <marker.infoWindow
            @isOpen={{@stop.showInfoWindow}}
            @onDomready={{fn this.infoWindowOpened @stop.id}}
            @onCloseclick={{fn this.infoWindowClosed @stop.id}}
          >
            <div>
              <h3>
                {{@stop.title}}
              </h3>
              <p>
                {{@stop.address}}
              </p>
            </div>
          </marker.infoWindow>
        </map.marker>
      {{#if @stop.hasParking}}
        <map.marker
          @lat={{@stop.parkingLat}}
          @lng={{@stop.parkingLng}}
          @anchor={{@stop.anchor}}
          @icon={{@stop.parkingIconSVG}}
          @label={{hash text="P" color="white" fontSize="1.5rem" fontWeight="600" className='otb-parking-icon'}}
          @onClick={{toggle "showParkingInfoWindow" @stop}}
          as |marker|
        >
        <marker.infoWindow
          @isOpen={{@stop.showParkingInfoWindow}}
          @onDomready={{fn this.infoWindowOpened @stop.id "parking"}}
          @onCloseclick={{fn this.infoWindowClosed @stop.id "parking"}}
        >
            <div>
              <h3>
                Parking for <i>{{@stop.title}}</i>
              </h3>
              <p>
                {{@stop.parkingAddress}}
              </p>
            </div>
          </marker.infoWindow>
        </map.marker>
      {{/if}}
    {{/if}}

    {{#if @tour.locationAllowed}}
        <map.control @position="TOP_LEFT">
          <div class="uk-margin-top uk-margin-left">
            <ModeControl @tour={{@tour}}/>
          </div>
        </map.control>

      <map.control @position="TOP_RIGHT">
        <button type="button" class="uk-button uk-margin-top uk-margin-right otb-mobile-map-control" {{on "click" (toggle "showDirectionsPanel" this)}}>
          <FaIcon @icon={{"directions"}} /> Directions
        </button>
      </map.control>
    {{/if}}
  </GMap>

  {{/if}}

<div class="otb-mobile-directions-panel uk-panel-scrollable {{if this.showDirectionsPanel "otb-mobile-directions-panel-show" "otb-mobile-directions-panel-hide"}}">
  <div class="uk-text-center" role="button" onclick={{toggle "showDirectionsPanel" this}}>
    <FaIcon @icon="angle-down" />
  </div>
  <ul uk-tab>
    {{#if (or @stop.sanitizedDirectionNotes @stop.directionIntro)}}
      <li class="uk-active"><a href="#">Notes</a></li>
    {{/if}}
    {{#if @tour.useDirections}}
      <li><a href="#">Turn By Turn</a></li>
    {{/if}}
  </ul>
  <ul class="uk-switcher uk-container">
    {{#if (or @stop.sanitizedDirectionNotes @stop.directionIntro)}}
      <li>
        <div class="otb-mobile-directions-display-panel">
          {{@stop.directionIntro}}
          {{@stop.sanitizedDirectionNotes}}
        </div>
      </li>
    {{/if}}
    {{#if @tour.useDirections}}
      <li>
        <div id="directions-panel" class="otb-mobile-directions-display-panel">
          {{!-- Google directions are inserted here --}}
        </div>
        {{#if this.maps.errorMessage}}
          <section>{{this.maps.errorMessage}}</section>
        {{else if this.location.errorMessage}}
          <section>Unable to get your location. Please try again. Sorry :(</section>
        {{/if}}
      </li>
    {{/if}}
  </ul>
  </div>

  {{#if this.directionsError}}
    <DirectionsError>
      <div class="uk-modal-dialog">
        <div class="uk-modal-body">
          <p>{{this.directionsError}}</p>
          {{#if (and this.directionsError (includes this.directionsError @tour.currentMode.title))}}
            <ModeControl @tour={{@tour}} @disableCurrent={{true}}></ModeControl>
          {{/if}}
        </div>
        <div class="uk-modal-footer uk-text-right">
          <UkButton @color="primary" class="uk-modal-close" {{on "click" this.cancelDirections}}>cancel</UkButton>
        </div>
      </div>
    </DirectionsError>
  {{/if}}
{{yield}}
{{/unless}}